
.element {
	font-family: 'Courier New', Courier, monospace;
	font-size: 10px;
	fill: white;
	font-weight: bold;
	dominant-baseline: middle;
	text-anchor: middle;
}

.ligation {
	stroke-width: 1px;
	stroke: black;
}

.ci-H {
	fill: #bbbbbb;
}

.ci-S {
	fill: #f7cd29;
}

.ci-Cl {
	fill: #21d122;
}

.ci-F {
	fill: #aed482;
}

.ci-O {
	fill: #eb3738;
}

.ci-C {
	fill: #000000;
}